body {
  background: #E754CA -webkit-linear-gradient(top, #E75468, #E754CA) no-repeat fixed;
  background: #E754CA -moz-linear-gradient(top, #E75468, #E754CA) no-repeat fixed;
  background: #E754CA linear-gradient(top, #E75468, #E754CA) no-repeat fixed;
  color: white;
  overflow-wrap: break-word;
}
hr {
  border-color: white;
}
li {
  list-style: none;
}
a {
  color: brown;
}
a:hover {
  color: brown;
}
.btn {
  background-color: brown;
  border: none;
}
.btn:hover {
  background-color: crimson;
}
.form-control {
  border: none;
}
#pie {
  text-align: center;
  color: brown;
}
#pie a, #pie a:hover {
  color: white;
}
.nombre, .direccion, .ciudad {
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .tag {
    display: block;
    font-size: .8em;
  }
}